In [12]:
import docker
docker_client = docker.from_env()

In [37]:
from docker.errors import APIError
import re
try:
    docker_client.info()
except APIError as e:
    # print dir(e.response)
    message = e.response.json()['message']
    #print message
    m = re.search(r".*server API version:([ 0-9\.]+).*", message)
    if m:
        print m.group(1).strip()

client is newer than server (client API version: 1.26, server API version: 1.24)
1.24

In [39]:
message = "client is newer than server (client API version: 1.26, server API version: 1.24)"
m = re.search(r".*server API version:([ 0-9.]+).*", message)
print m.group(1).strip()

1.24

In [8]:
for n in networks:
    print n.name

none
bridge
host
mytestnetwork
mytestnetwork2

In [7]:
pd.concat([df1,df2], axis=1)

      a     b     c     d
a   1.0   2.0   NaN   NaN
b  10.0  20.0  10.0  20.0
c   NaN   NaN   1.0   2.0